{% extends 'sending_receiving/base.html' %}
{% load widget_tweaks %}

{% block title %}Email Sent{% endblock %}

{% block content %}
    <div class="container h-75">
        <div class="d-flex justify-content-md-center h-100">
            <div class="sending-email">
                <div class="card-heading d-flex justify-content-md-center h-100">
                    {% if recepient %}
                    <p>Email has been sent to {{ recepient }}</p>
                    {% else %}
                    <p>Your feedback has been sent to us. We will catch you as soon as possible.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}